{% extends 'base.html' %}

{% block title %}Игровые комнаты{% endblock %}

{% block content %}
    <div class="container">
        <div id="content">
            <h4>Список всех игровых комнат</h4>
            <hr>
            {% if not rooms %}
                <hr> Комнаты отсутствуют.
            {% else %}
                {% include 'rooms/all_rooms_list.html' %}
            {% endif %}
        </div>
        <div>
            <p>Показано {{ (page - 1) * limit + 1 }}
                из {{ (page - 1) * limit + rooms|length }} комнат.
                Всего {{ total_rooms }}
                записей.</p>
            <p>
                {% if page > 1 %}
                    <a href="{{ url_for('rooms').include_query_params(page=page-1, limit=limit) }}">Назад</a>
                {% endif %}

                {% if rooms|length == limit %}
                    <a href="{{ url_for('rooms').include_query_params(page=page+ 1, limit=limit) }}">Вперед</a>
                {% endif %}
            </p>
        </div>
    </div>
{% endblock %}


