{% extends 'base.html' %}

{% block title %}Пользователи{% endblock %}

{% block content %}
    <div class="container">
        <div id="content">
                        <h2>Список активных игр</h2>
            <div>
                <table>
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <th>комната</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td>Имя</td>
                        <td>000000000</td>
                        <td>Active</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}


