<div>
    <table id="data" class="table table-striped">
        <thead>
            <tr>
                <th>Номер комнаты</th>
                <th>Дата выполнения</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td><a href="{{ url_for('room', room_number=task.id ) }}">{{ task.id }}</a></td>
                    <td>{{ task.next_run_time.strftime('%Y-%b-%d (%A) %H:%M:%S') }}</td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
</div>