{% extends 'base.html' %}

{% block title %}Игровые комнаты{% endblock %}

{% block content %}
    <div class="container">
        <div id="content">
            <h2>Профиль пользователя {{ username }}</h2><hr>
            <p><b>Telegram ID</b>: {{ telegram_id }}</p>
            <p><b>First Name</b>: {{ first_name }}</p>
            <p><b>Last Name</b>: {{ last_name }}</p>
            <p><b>status</b>: {{ status }}</p>
            <p><b>Is Superuser</b>: {{ is_superuser }}</p>


        </div>
    </div>
{% endblock %}

