{% extends 'base.html' %}

{% block title %}Игровые комнаты{% endblock %}

{% block content %}
    <div class="container">
        <div id="content">
            <h2>Список всех игровых комнат</h2>
            <div>
                <table id="data" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Room Number</th>
                        <th>Active</th>
                        <th>Created</th>
                        <th>Closed</th>
                        <th>owner</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for room in rooms %}
                        <tr>
                            <td>{{ room.name }}</td>
                            <td>{{ room.number }}</td>
                            <td>
                                {% if not room.is_closed %} True {% else %} False {% endif %}
                            <td>{{ room.created_at.strftime('%Y-%m-%d') }}</td>
                            <td>{% if not room.closed_at %} Not Yet {% endif %}</td>
                            </td>
                            <td><a href="{{ url_for('profile', number=room.owner.user_id)}}">{{ room.owner.username }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>


            </div>

        </div>
    </div>
{% endblock %}


