{% extends 'base.html' %}

{% block title %}Подтверждение{% endblock %}

{% block content %}
    <div class="container">
        <div class="text">
            <h4>Подтвердите удаление пользователя <b>{{ user.username }}</b>:</h4><br>
        <p> Пользователь будет удален безвозвратно.</p>
        </div>
        <dev class="btn-toolbar">
            <div class=" me-2">
                <form action="{{ url_for('delete_user') }}"
                  method="post">
                <input type="hidden" name="referer" value="{{ referer }}">
                <input type="hidden" name="user_id" value="{{ user.user_id }}">
                <input type="hidden" name="confirm" value=True>
                <button class="btn btn-danger btn-sm">Подтверждаю
                </button>
            </form>
            </div>
            <div class=" me-2">
                <form action="{{ url_for('delete_user') }}"
                  method="post">
                <input type="hidden" name="referer" value="{{ referer }}">
                <input type="hidden" name="user_id" value="{{ user.user_id }}">
                <input type="hidden" name="confirm" value=False>
                <button class="btn btn-success btn-sm">Отменить
                </button>
            </form>
            </div>


        </dev>
    </div>
{% endblock %}
