{% extends 'base.html' %}

{% block title %}Подтверждение{% endblock %}

{% block content %}
    <div class="container">
        <div class="text">
            <h4>Подтвердите удаление пользователя {{ user.username }} из группы [{{ number }}]</h4><br>
        </div>
        <dev class="btn-toolbar">
            <div class=" me-2">
                <form action="{{ url_for('leave_user') }}"
                  method="post">
                <input type="hidden" name="referer" value="{{ referer }}">
                <input type="hidden" name="user_id" value="{{ user.user_id }}">
                <input type="hidden" name="room_number" value="{{ number }}">
                <input type="hidden" name="confirm" value=True>
                <button class="btn btn-danger btn-sm">Подтверждаю
                </button>
            </form>
            </div>
            <div class=" me-2">
                <form action="{{ url_for('leave_user') }}"
                  method="post">
                <input type="hidden" name="referer" value="{{ referer }}">
                <input type="hidden" name="user_id" value="{{ user.user_id }}">
                <input type="hidden" name="room_number" value="{{ number }}">
                <input type="hidden" name="confirm" value=False>
                <button class="btn btn-success btn-sm">Отменить
                </button>
            </form>
            </div>


        </dev>
    </div>
{% endblock %}
