{% extends 'base.html' %}

{% block title %}Профиль пользователя {{ user.username }}{% endblock %}

{% block content %}
    <div class="container">
        <div id="content">
            <h4>Профиль пользователя {{ user.username }}</h4><hr>

            <p><b>Имя</b>: {{ user.first_name }}</p>
            <p><b>Фамилия</b>: {{ user.last_name }}</p>
            <p><b>Telegram ID</b>: {{ user.user_id }}</p>
            <p><b>Статус</b>:
                    {% if user.is_active %}
                    <span class="text-success">Активный</span>
                    {% else %}
                    <span class="text-danger">Не Активен</span>
                    {% endif %}

            </p>
            <p><b>Суперпользователь</b>: {% if user.is_superuser %}
                                    <span class="text-danger">Да</span>
                                    {% else %}
                                    <span class="text-primary">Нет</span>
                                    {% endif %}
            </p>
        </div>

    <h4>Группы в которых состоит пользователь {{ user.username }}</h4>
    {% include 'rooms/all_rooms_list.html' %}

    </div>
{% endblock %}

