{% extends 'base.html' %}

{% block title %}Профиль пользователя {{ username }}{% endblock %}

{% block content %}
    <div class="container">
        <div id="content">
            <h4>Профиль пользователя {{ username }}</h4><hr>

            <p><b>Имя</b>: {{ first_name }}</p>
            <p><b>Фамилия</b>: {{ last_name }}</p>
            <p><b>Telegram ID</b>: {{ telegram_id }}</p>
            <p><b>Статус</b>:
                    {% if status %}
                    <span class="text-success">Активный</span>
                    {% else %}
                    <span class="text-danger">Не Активен</span>
                    {% endif %}

            </p>
            <p><b>Суперпользователь</b>: {% if current_user.is_superuser %}
                    <span class="text-danger">Да</span>
                    {% else %}
                    <span class="text-primary">Нет</span>
                    {% endif %}
            </p>
        </div>

    <h4>Группы в которых состоит пользователь {{ username }}</h4>
    {% include 'rooms/all_rooms_list.html' %}

    </div>
{% endblock %}

