<div>
    <table id="data" class="table table-striped">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Telegram ID</th>
            <th>Дата регистрации</th>
            <th>Адрес</th>
            <th>Номер</th>
            <th>Статус</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.user_id }}
                <td>{{ user.registered_at.strftime('%Y-%m-%d') }}
                <td>{% if user.address %}
                    <span class="text-success">Указан</span>
                {% else %}
                    <span class="text-danger">Не указан</span>
                {% endif %}
                </td>

                <td>{% if user.contact_number %}
                    <span class="text-success">Указан</span>
                {% else %}
                    <span class="text-danger">Не указан</span>
                {% endif %}</td>

                <td>{% if user.is_active %}
                    <span class="text-success">Активный</span>
                {% else %}
                    <span class="text-danger">Не Активен</span>
                {% endif %}
                </td>
                <td>
                {% if current_user.is_superuser %}
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        {#-----------Leave from room button---------------#}
                        {% if room_owner != user %}
                            <script>
                              function redirectToLeaveConfirmation(user_id) {
                                var url = "{{ request.url_for('user_leave_confirm', room_number=room.number) }}" + "?user_id=" + encodeURIComponent(user_id);
                                window.location.href = url;
                              }
                            </script>
                            <div class="me-1">
                                <button class="btn btn-outline-secondary btn-sm" onclick="redirectToLeaveConfirmation({{ user.user_id }}, )">Выгнать</button>
                            </div>

                            {#----------Leave from room button-----------------#}
                            {#----------Activate button-----------------#}
                            <div class="me-1">
                                {% if user.is_active %}
                                <form action="{{ url_for('activate_user', user_id=user.user_id) }}"
                                      method="post">
                                    <button class="btn btn-outline-secondary btn-sm"
                                            title="Деактивировать пользователя">Деактивировать
                                    </button>
                                </form>
                                {% else %}
                                    <form action="{{ url_for('activate_user', user_id=user.user_id) }}"
                                          method="post">
                                        <button class="btn btn-outline-secondary btn-sm"
                                                title="Активировать пользователя">Активировать

                                        </button>
                                    </form>
                                {% endif %}

                            </div>
                            {#----------Activate button-----------------#}
                            {#----------Delete button-----------------#}
                            <div class="me-2">
                                <form action="{{ url_for('usr_del_confirmation', user_id=user.user_id) }}"
                                method="get">
                                <button class="btn btn-outline-secondary btn-sm"
                                    title="удалить пользователя">Удалить

                                </button>
                                </form>
                            </div>
                            {#----------Delete button-----------------#}

        {#                    <img src="{{ url_for('static', path='icons//no.png') }}"#}
        {#                                     alt="buttonpng"/>#}

                            </div>
                        {% endif %}
                {% endif %}
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>